[user]
    name = Arun Mahapatra
[core]
    autocrlf = false
    excludesfile = ~/.gitignore_global
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
[credential]
    helper = manager
[credential "helperselector"]
    selected = manager-core
[include]
    path = .gitconfig_local
