[user]
    name = Arun Mahapatra
    email = pratikarun@gmail.com
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
[include]
    path = .gitconfig_local
