.cache
.hg
AppData/
bin/
Contacts/
Desktop/
Documents/*
Downloads/
Favorites/
Links/
Mercurial.ini
Music/
OneDrive/
Pictures/
Podcasts/
Saved Games/
scoop/
Searches/
Tracing/
Videos/
.virtualenvs/
!Documents/WindowsPowershell

# others
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# files
_*vim*
DevelopmentStorage*
local.vim
NTUSER*
.scoop
.gitconfig_local
